/*
    Author: Phil Essenmacher

    This style sheet is used to style a pizza order GUI built with JavaFx
*/

.root {
    -fx-font: bold 16px "arial"; 
    -fx-font-color: white;
    -fx-base: #000000;
    -fx-background: #1d1d1d;
}

.button {
    -fx-background-color: #00CCFF;
    -fx-font: bold 18px "arial";
    -fx-text-fill: black;
    -fx-padding: 10;
    -fx-alignment: center;
}
    
.label {
    -fx-font-size: 12px;
    -fx-label-padding: 10 5 10 5;
}
